<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark That Thing</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="page-container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Bookmark That Thing</a>
          </div>
        </div>
      </div>
      
      </div> <!-- container -->
    </div> <!-- page-container -->
  </body>
</html>